.topo{
    background-color: rgb(255, 8, 0);
    font-size: 24px;
    font-weight: bold;
    padding: 32px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif ;
    margin: 0;
}
.ul-topo{
    background-color: #0e0606ab;
    padding: 16px;
    text-align: center;
    margin: 0;
}
.menu-lista{
    display: inline-flex;
    padding: 16px;
    margin-right: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    color: rgb(255, 255, 255);
}
.menu-lista:hover{
    display: inline-flex;
    background-color: #ff0000;
    color: rgb(0, 4, 255);
}
.menu-lista a{
    text-decoration: none;
    color: inherit;
}
.menu-lista-active{
    display: inline-flex;
    background-color:#ffbc2b ;
    color: black;
    text-decoration:underline ;
    padding: 16px;
    font-size: 18px;
    text-decoration:none ;
    color: inherit;
}
a{
    text-decoration: none;
    color: inherit;
}
.titulo-secao{
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 48px;
    background-color: white;
    margin: 20px;
    padding: 20px;
}
.bloco1{
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #f5f5f5;
    padding: 40px;
}
.foto{
    display: block;
    position: relative;
    float: right;
}
.txt{
    display: block;
    position: relative;
    float: right;
    margin-left: 40px;
}
.titulo-texto{
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 40px;
}
.texto{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    line-height:30px ;
    margin: 0;
}
.bloco-contato{
    display: inline-flex;
    align-items: center;
}
.imagem-contato{
    margin-left: 104px;
}
.form-contato{
    margin-bottom: 80px;
}
.label-form-contato{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}
.input-form-contato{
    margin-bottom: 24px;
    border: 2px solid rgb(0, 0, 0);
    width: 300px;
    height: 40px;
    border-radius: 8px;
}
.input-form-contato-mensagem{
    margin-bottom: 24px;
    border: 2px solid black;
    width: 300px;
    height: 100px;
    border-radius: 8px;
    margin: 0;
}
.enviar{
    margin-left: 10px;
    margin-top: 25px;
    border-radius: 8px;
    width: 80px;
    height: 50px;
    background-color: #ffee00ab;
}
footer{
    color: #fdfdfd;  
    background-color: #000000;
    padding-top: 104px;
    padding-bottom: 104px;
    padding-left: 80px;
    padding-right: 80px;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
.container-fluid{
    text-decoration:none;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 32px;
  }
  .col-sm-4{
    text-decoration:none;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-bottom: 40px;
    padding-top: 40px;
  }
  .nav-rodape {
    margin-right: 40px;
    text-align: left;
    text-decoration: none;
    list-style-type: none;
  } 
  .nav-rodape a{
    margin-right: 40px;
    text-align: left;
    text-decoration: none;
    list-style-type: none;
    color: white;
  
  } 
  .nav-rodape a:hover{
    margin-right: 40px;
    text-align: left;
    text-decoration: underline;
    list-style-type: none;
    color: white;
  } 
  /* Página de contato - form */
  .titulo-formulario{
    font-size: 40px;
    margin-bottom: 48px;
  }
  .form-label{
    font-size: 16px;
    letter-spacing: 1px;
  }
  .form-input{
    outline: transparent;
    border-radius: 8px;
    margin-bottom: 24px;
    width: 300px;
    height: 48px;
  }
  .form-input-mensagem{
    border-radius: 8px;
    margin-bottom: 24px;
    width: 400px;
    height: 200px;
  }
  .form-input:focus{
    border-bottom: 4px solid #FFD12D;
    border-radius: 8px;
    margin-bottom: 24px;
    width: 300px;
    height: 48px;
  }
  .img-form{
    margin-right: 80px;
  }
  .botao-form{
    background-color: black;
    color: #cdffec;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-right: 32px;
    padding-left: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 40px;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Botões */
  .cta-primary{
    background-color: #cdffec;
    color: black;
    padding-top:16px;
    padding-bottom:16px;
    padding-right: 32px;
    padding-left: 32px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 80px;
    border: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 16px;
    margin-top: 24px;
  }
  .cta-secundario{
    border:2px solid #cdffec;
    color: #cdffec;
    background-color: black;
    padding-top:16px;
    padding-bottom:16px;
    padding-right: 32px;
    padding-left: 32px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 80px;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 16px;
    margin-top: 32px;
  }
  .cta-secundario-botao{
    border:2px solid #cdffec;
    color: #cdffec;
    background-color: black;
    padding-top:16px;
    padding-bottom:16px;
    padding-right: 32px;
    padding-left: 32px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 80px;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 16px;
    margin-top: 32px;
  }
  .cta-secundario-botao a{
    border:2px solid #cdffec;
    color: #cdffec;
    background-color: black;
    padding-top:16px;
    padding-bottom:16px;
    padding-right: 32px;
    padding-left: 32px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 80px;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 16px;
    margin-top: 32px;
  }
  /* Img topo das páginas */
  .bloco-imagem-paginas{
    height: 200px;
    width: 100%;
    background: url(../img/imagem-topo-paginas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .bg-txt{
    background-color: #f5fffb;;
    opacity: 0.7;
    height: 100%;
  }
  .bg-txt p{
    font-size: 40px;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
  }
  /* Página do Portfólio - grid */
  .portfolio{
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding-top: 104px;
    padding-bottom: 104px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #f5fffb;
  }
  .portfolio-item{
    display: flexbox;
    justify-content: center;
    align-items: center;
  }
  .img-portfolio{
    border-radius: 16px;
  }
  .legenda-portfolio{
    font-size: 18px;
    letter-spacing: 1px;
    margin: 8px;
    text-align: center;
  }
  .bloco-video{
    position: relative;
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
   }
  .txt-video{
    z-index: 1;
    text-align: center;
    width: 800px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
   }
  .titulo-video {
    font-size:80px;
    line-height: 104px;
    letter-spacing: 2px;
    color: #5c5c5c;
  }
  .subtitulo-video {
    font-size:56px;
    line-height: 72px;
    letter-spacing: 1px;
  }
  .video-container {
    position: absolute;
    top: 30;
    left: 0;
    width: 100%;
  }
  .color-overlay {
    position: absolute;
    top: 30;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:black;
    opacity: 0.8;
  }